.rec.rec-arrow {
  border-radius: 0;
  background: none;
  border: none;
  box-shadow: none;
  color: #395485;
}

.rec.rec-arrow:hover,
.rec.rec-arrow:active,
.rec.rec-arrow:focus {
  background: none !important;
  color: #395485 !important;
  box-shadow: none !important;
  transform: scale(1.5);
}
.rec.rec-arrow:disabled {
  visibility: hidden;
}

button.rec-dot {
  visibility: hidden;
}

.rec.button:hover {
  visibility: hidden;
}
